<form class="form-signin" action="/auth/login" method="POST">
  <h2 class="form-signin-heading">Please Log in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <br>
  <a href="/oauth/facebook">Log in with Facebook</a>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

  <br>
  <p class="account-message">
    Do you want to
    <a href="/auth/signup">Sign up</a>?
  </p>
</form>